<!DOCTYPE html>
<html>
<head>
    <title>Authorization Page</title>
    <style>
       p
        {
            text-color:red;
        }
    </style>
</head>
<body>
    <h1>Authorization Page</h1>
    
    <form method="POST" action="{% url 'authorize_meeting' %}">
        {% csrf_token %}
        <label for="phonenumber">Enter Your Phone Number:</label>
        <input type="text" id="phonenumber" name="phonenumber" required>
        <button type="submit">Authorize</button>
    </form>
    {% if not authorized %}
        <p class="error-message">Phone number not authorized.</p>
    {% endif %}
</body>
</html>
