{% load static %}
<!DOCTYPE html>
<html>
<head>
body
{
    border: 20px solid royalblue;
    height: 900px;
    text-align: center;
}
div
{
    border: 10px solid peachpuff;
}    
    <title>Contact Data</title>
</head>
<body>
    <h1>Contact Data</h1>
    <div>
        {% for contact in contacts %}
            <li>
                <b>Name:</b> {{ contact.name }}<br>
                <b>Surname:</b> {{ contact.surname }}<br>
                <b>Phone Number:</b> {{ contact.phonenumber }}<br>
                <b>Place:</b> {{ contact.place }}<br>
                <b>Purpose of Visit:</b> {{ contact.purpose }}<br>
            </li>
        {% endfor %}
        </div>
</body>
</html>
