{% load static %}
<!DOCTYPE html>
<html>
<style>
    body
{
    border: 20px solid #7fd8be;
    width: auto;
    height: 900px;
}
form
{
    border: 10px solid #ff7f50;
    align-items: center;
    width: 300px;
    height: 330px;
}
</style>
<head>
    <title>Contact Form</title>
</head>
<body>
    <center>
    <h1><u><b>APPOINTMENT FORM</b></u></h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form><br>
    <div>
    <a href="{% url 'login' %}">Admin site</a>
    </div>
</center>

</body>
</html>
