<html>
  <head>
    <title>Help</title>
    <style>
     
    </style>
  </head>
  <body>
    <center>
     <h1><b><u></u>Help</b></h1>
          </center>

    <hr>
      <b><h4>How To Join The Meeting:(PC Users)</h4></b>
      <p>
        <ul>
          <li>Click on the join meeting in home page navigation bar.</li>
          <li>Enter your phone number given in the appointment form.</li>
          <li>Click on submit.</li>
          <li>Enter your Name and click Join Meeting.</li>
          <li>A pop-up appear and select the option <b>Wait For Moderator.</b></li>
          <li>When the moderator accepts your request you will be join in the meeting.</li>
        </ul>
      </p>
     <b><h4>How To Join The Meeting:(Mobile Users)</h4></b>
      <p>
        <ul>
          <li>Click on the join meeting in home page navigation bar.</li>
          <li>Enter your phone number given in the appointment form.</li>
          <li>Click on submit.</li>
          <li><b><u>Click on Join in Browser</u></b></li>
          <li>Enter your Name and click Join Meeting.</li>
          <li>A pop-up appear and select the option <b>Wait For Moderator.</b></li>
          <li>When the moderator accepts your request you will be join in the meeting.</li>
        </ul>
      </p>
  </body>
