<html>
  <head>
    <title>Help</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
     .pc
      {
        border:5px red;
      }
      .mobile
      {
        border:5px blue;
      }
    </style>
  </head>
  <body>
    <center>
     <h1><b><u></u>Help</b></h1>
          </center>

    <hr>
    <div class="pc">
      <b><h4>How To Join The Meeting:(PC Users)</h4></b>
      <p>
        <ul>
          <li>Click on the join meeting in home page navigation bar.</li>
          <li>Enter your phone number given in the appointment form.</li>
          <li>Click on submit.</li>
          <li>Enter your Name and click Join Meeting.</li>
          <li>A pop-up appear and select the option <b>Wait For Moderator.</b></li>
          <li>When the moderator accepts your request you will be join in the meeting.</li>
        </ul>
      </p>
      </div>
    <hr>
    <div class="mobile">
     <b><h4>How To Join The Meeting:(Mobile Users)</h4></b>
      <p>
        <ul>
          <li>Click on the join meeting in home page navigation bar.</li>
          <li>Enter your phone number given in the appointment form.</li>
          <li>Click on submit.</li>
          <li><b><u>Click on Join in Browser</u></b></li>
          <li>Enter your Name and click Join Meeting.</li>
          <li>A pop-up appear and select the option <b>Wait For Moderator.</b></li>
          <li>When the moderator accepts your request you will be join in the meeting.</li>
        </ul>
      </p>
    </div>
  </body>
