{% load static %}
<!DOCTYPE html>
<html>
<head>

 <title>Login</title>
<style>
   form  
   {
      color:white;
      background-color:black;
      width:500px;
      height:400px;
   }
   h2
   {
      color:black;
      background-color:#CC313D;
   }
</style>
</head>
<body>
 <center>
 <form method="post">
    {% csrf_token %}
    <h2><u><b>ADMIN LOGIN</b></u></h2>
 <label for="username">Username:</label>
 <input type="text" name="username" required><br><br>
 <label for="password">Password:</label>
 <input type="password" name="password" required><br><br>
 <input type="submit" value="Login"><br><br>
 </form>
</center>
</body>
</html>
