<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment</title>
  <style>
    body
    {
      background-image:url("https://rare-gallery.com/thumbs/904463-purple-background-solid-color.png");
    }
  </style>
</head>
<body>
    <iframe allow="camera; microphone; fullscreen; display-capture; autoplay" src="https://meet.jit.si/SubjectPursuitsRangeCuriously" style="height: 800px; width: 1800px; border: 0px;"></iframe>     


</body>
</html>
